body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfad;
}

header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    justify-self: end;
}
header .icons span{
    color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 230px;
    margin-top: 10px;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

/*Estilo de la pagina*/
/*Parte Main_foto*/

.blog-main{
    height: 600px;
}

.blog-destacado-container{
    margin: 1em;
    background-image: url('../assets/img/main-news-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.destacado-main_foto-container img{
    max-width: 100%;
}



/*.destacado-columna_derecha-container a{
    border: #48cfad;
    border-style: solid;
    border-width: thin;
    height: 100%;
    width: 30%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
}*/

/* Parte de Posts*/

.blog-posts-container {
   display: grid;
   grid-template-rows: 1fr 3fr;
   align-items: center;
   margin: 3.5em;
   padding-left: 80px;
}


.blog-posts-container .grid-container{
   max-height: 100%;
}

.blog-posts-container  h3{
    text-align: left;
    grid-row: 1;
    border-color: white;
    border-bottom: gainsboro;
    border-style: solid;
    border-bottom-width: 2px;
    height: 80px;
    font-size: x-large;
}

.blog-posts-container .post-container{
    max-width: 100%;
}

.blog-posts-container .post-container p{
    max-width: 90%;
    text-align: start;
    white-space: pre-line;
    font-size: large;
}

.blog-posts-container .post-container h1{
    font-size: xx-large;
}

/* Parte contacto */
.blog-contacto-container{
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.contacto-columna_izquierda-container{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
}

.contacto-columna_derecha-container{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
}

.contacto-columna_izquierda-container h1{
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
    margin-top: 80px;
    text-underline-offset: 8px;
    font-size: large;
}

.contacto-columna_izquierda-container a{
    height: 100px;
}

.contacto-columna_izquierda-container p{
    font-size: 16px;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 300px;
    font-size: large;
}

.contacto-columna_izquierda-container img{
    max-width: 35%;
    grid-column: 1;
    margin-top: 70px;
    margin-left: 90px;
}

.contacto-columna_derecha-container h1{
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
    margin-top: 80px;
    text-underline-offset: 8px;
    font-size: large;
}

.contacto-columna_derecha-container a{
    height: 100px;
}

.contacto-columna_derecha-container p{
    font-size: 16px;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 300px;
    font-size: large;
}

.contacto-columna_derecha-container img{
    max-width: 35%;
    grid-column: 1;
    margin-top: 70px;
    margin-left: 90px;
}

footer{
    width: 100%;
    height: 80px;
    background-color: black;
    border-top: 35px solid #47cfad;
    margin-top: auto;
}

footer p{
    color: white;
    margin-top: 30px;
    text-align: center;
}